<a href="https://colab.research.google.com/github/AnuAgni/Natural-Language-Processing/blob/main/SentimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TWEET SENTIMENT ANALYSIS 
(TAKEN FROM: https://www.nbshare.io/notebook/754493525/Tweet-Sentiment-Analysis-Using-LSTM-With-PyTorch/

##Import and Data loading

In [15]:
import torch                                              # Open source library and script language
import torch.nn as nn                                     # Provides all building blocks to build neural network
import torch.nn.functional as F                           # Contains varrious functions applied on input layer/signal
from torch.utils.data import DataLoader, TensorDataset    

import numpy as np                                        # Work with mathematical data
import pandas as pd                                       # Work with tabular data

import re                                                 # Provides regular expression matching operations
# Regular expression also known as regex(p) is a method used for pattern/string matching

from sklearn.model_selection import train_test_split      # Model_selection is a method for setting a blueprint to analyze data and then using it to measure new data. 
from sklearn.metrics import accuracy_score                #how accurate the model is

import nltk                                               #work with human language data for applying in statistcial nlp
from nltk.tokenize import word_tokenize                   #breaking text into small chunks , slipt workd into tokens

import matplotlib.pyplot as plt                            #use for plotting i.e data visualisation

In [16]:
nltk.download('punkt')                                     #tokenize sentence

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [17]:
train_df=pd.read_csv('https://raw.githubusercontent.com/ajayshewale/Sentiment-Analysis-of-Text-Data-Tweets-/master/data/train.csv')

In [18]:
test_df=pd.read_csv('https://raw.githubusercontent.com/ajayshewale/Sentiment-Analysis-of-Text-Data-Tweets-/master/data/test.csv')

##Data preprocessing

In [19]:
train_df

,Id,Category,Tweet
0,635769805279248384,negative,Not Available
1,635930169241374720,neutral,IOS 9 App Transport Security. Mm need to check...
2,635950258682523648,neutral,"Mar if you have an iOS device, you should down..."
3,636030803433009153,negative,@jimmie_vanagon my phone does not run on lates...
4,636100906224848896,positive,Not sure how to start your publication on iOS?...
...,...,...,...
5965,639016598477651968,neutral,@YouAreMyArsenal Wouldn't surprise me if we en...
5966,640276909633486849,neutral,Rib injury for Zlatan against Russia is a big ...
5967,640296841725235200,neutral,Noooooo! I was hoping to see Zlatan being Zlat...
5968,641017384908779520,neutral,Not Available
5969,641395811474128896,neutral,Not Available

In [20]:
#clean code from inconsistent, noisy and useless info.
train_df=train_df.drop(columns=["Id"]) #Useless for training model
train_df=train_df.dropna()
train_df=train_df[train_df['Tweet']!="Not Available"]
train_df

      Category                                              Tweet
1      neutral  IOS 9 App Transport Security. Mm need to check...
2      neutral  Mar if you have an iOS device, you should down...
3     negative  @jimmie_vanagon my phone does not run on lates...
4     positive  Not sure how to start your publication on iOS?...
5      neutral  Two Dollar Tuesday is here with Forklift 2, Qu...
...        ...                                                ...
5963  positive  Ok ed let's do this, Zlatan, greizmann and Lap...
5964   neutral  Goal level: Zlatan  90k by Friday? = Posting e...
5965   neutral  @YouAreMyArsenal Wouldn't surprise me if we en...
5966   neutral  Rib injury for Zlatan against Russia is a big ...
5967   neutral  Noooooo! I was hoping to see Zlatan being Zlat...

[5422 rows x 2 columns]

In [21]:
test_df

                Id                                           Category
0     6.289494e+17  dear @Microsoft the newOoffice for Mac is grea...
1     6.289766e+17  @Microsoft how about you make a system that do...
2     6.290232e+17                                      Not Available
3     6.291792e+17                                      Not Available
4     6.291863e+17  If I make a game as a #windows10 Universal App...
...            ...                                                ...
9963           NaN                                                NaN
9964           NaN                                                NaN
9965           NaN                                                NaN
9966           NaN                                                NaN
9967           NaN                                                NaN

[9968 rows x 2 columns]

In [22]:
test_df=test_df.rename(columns={"Category":"Tweets"})

In [23]:
test_df=test_df.drop(columns=["Id"])
test_df=test_df.dropna()
test_df=test_df[test_df['Tweets']!='Not Available']
test_df

                                                 Tweets
0     dear @Microsoft the newOoffice for Mac is grea...
1     @Microsoft how about you make a system that do...
4     If I make a game as a #windows10 Universal App...
5     Microsoft, I may not prefer your gaming branch...
6     @MikeWolf1980 @Microsoft I will be downgrading...
...                                                 ...
3994  Anybody with a Steak &amp; Shake or IHOP move ...
3995  I am assembling an epic Pancake Posse for an I...
3996       do you work at Ihop tomorrow @carlysunshine_
3997  23 Aug 00;30 #771NAS Rescue193 returned from T...
3999  IOS 9 App Transport Security. Mm need to check...

[3640 rows x 1 columns]

##Class imbalance
Here we need to make sure that each category has equal number of instances so that model is trained well (Classification task)

In [24]:
train_df['Category'].value_counts()

positive    2599
neutral     1953
negative     869
Tweet          1
Name: Category, dtype: int64

Solutions to fix imbalance
1) Oversampling
2) Undersampling
3) Hybrid approach
4) Augmentation

In [25]:
train_df[train_df['Category']=='negative']

      Category                                              Tweet
3     negative  @jimmie_vanagon my phone does not run on lates...
29    negative  @_tomcc @bartwerf please stop walking and work...
36    negative  @DeltaAssist yes, I asked an attendant to prin...
91    negative  ok inbox on iOS has a pretty animation for the...
100   negative                Lost my iPad for the 2nd time today
...        ...                                                ...
5935  negative  Watching a replay of the PSG / Lille match fro...
5938  negative  @ACMilanNorway anyway, telling Zlatan he'll be...
5949  negative  The top 4 strikers in the world are not for sa...
5960  negative  Today United should have done better, the refe...
5961  negative  If there is a silver lining this shows LVG if ...

[869 rows x 2 columns]

In [26]:
train_df['Tweet'].loc[3]

'@jimmie_vanagon my phone does not run on latest IOS which may account for problem the other day .. time it was replaced'

In [27]:
pip install nlpaug

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nlpaug
  Downloading nlpaug-1.1.10-py3-none-any.whl (410 kB)
     |████████████████████████████████| 410 kB 9.4 MB/s
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (1.3.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (2.23.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from nlpaug) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->nlpaug) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->nlpaug) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->nlpaug) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->nlpaug) (2022.5.18.1)
Installing collected packages: nlpaug
Successfully installed nlpaug-1.1.10

In [28]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [29]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [30]:
import nlpaug
import nlpaug.augmenter.word as naw

In [31]:
X_train, X_test, y_train, y_test = train_test_split(train_df['Tweet'],train_df['Category'])

In [32]:
aug=naw.SynonymAug(aug_src='wordnet',aug_max=3)

In [33]:
augmented_sentences=[]
augmented_sentences_labels=[]
for i in X_train.index:
  if y_train[i]=='negative':
    temps=aug.augment(X_train[i],n=2)
    for sent in temps:
      augmented_sentences.append(sent)
      augmented_sentences_labels.append('negative')

In [34]:
X_train=X_train.append(pd.Series(augmented_sentences),ignore_index=True)
y_train=y_train.append(pd.Series(augmented_sentences_labels),ignore_index=True)

In [35]:
df=pd.DataFrame(list(zip(y_train,X_train)),columns = ['Category','Tweet'])

In [41]:
df1=pd.DataFrame(list(zip(y_test,X_test)),columns = ['Category','Tweet'])

In [42]:
tdf=df.append(df1,ignore_index=True)

In [43]:
tdf['Category'].value_counts()

positive    2599
negative    2137
neutral     1953
Tweet          1
Name: Category, dtype: int64

In [44]:
X_train, X_test, y_train, y_test = train_test_split(train_df['Tweet'],train_df['Category'])

In [45]:
aug=naw.SynonymAug(aug_src='wordnet',aug_max=3)

In [46]:
augmented_sentences=[]
augmented_sentences_labels=[]
for i in X_train.index:
  if y_train[i]=='neutral':
    temps=aug.augment(X_train[i],n=2)
    for sent in temps:
      augmented_sentences.append(sent)
      augmented_sentences_labels.append('neutral')

In [47]:
X_train=X_train.append(pd.Series(augmented_sentences),ignore_index=True)
y_train=y_train.append(pd.Series(augmented_sentences_labels),ignore_index=True)

In [48]:
df=pd.DataFrame(list(zip(y_train,X_train)),columns = ['Category','Tweet'])

In [49]:
df1=pd.DataFrame(list(zip(y_train,X_train)),columns = ['Category','Tweet'])

In [50]:
tdf1=df.append(df1,ignore_index=True)

In [51]:
tdf1['Category'].value_counts()

neutral     8700
positive    3922
negative    1308
Tweet          2
Name: Category, dtype: int64

In [39]:
train_clean_df,test_clean_df=train_test_split(tdf,test_size=0.15)

In [40]:
#using list for further clenaing but pandas can be used too
train_set=list(train_clean_df.to_records(index=False))
test_set=list(train_clean_df.to_records(index=False))